<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/basicStyle.css}" />
</head>
<body>
    <h1>Willkommen zum Quiz!</h1>
    <p th:text="'Buzzer für Team ' + ${name} + '!'"></p>

    <form action="#" th:action="@{/buzzer/buzz}" method="post">
        <input type="text" th:disabled="${customUser}" th:hidden="${customUser}" name="teamName" placeholder="Gib deinen Namen ein" required maxlength="25">
        <input type="hidden" th:disabled="${defaultUser}" name="teamName" th:value="${name}" />
        <button type="submit" th:style="'background-color:#FF4444'">Buzzer</button>
    </form>
</body>
</html>