<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/basicStyle.css}" />
    <meta http-equiv="refresh" content="2">
</head>
<body>
    <h1>Quizmaster-Controls</h1>
    <h2 th:text="'Für ' + ${frage.punkte} + ' Punkte'"></h2>
    <h2 th:text="${frage.frage}"></h2>
    <p th:text="'Antwort: ' + ${frage.antwort}"></p>
    <hr />
    <p th:text="'Team: ' + ${teamName}"></p>
    <hr />
    <br />
    <table>
        <tr>
            <td>
                <form action="#" th:action="@{/quizMaster/right}" method="post">
                    <button type="submit">Korrekt</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="#" th:action="@{/quizMaster/wrong}" method="post">
                    <button type="submit">Falsch</button>
                </form>
            </td>
        </tr>
    </table>
    <form action="#" th:action="@{/quizMaster/returnToBoard}" method="post">
        <button type="submit">Zurück</button>
    </form>
    <br />
</body>
</html>