<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h1>Quizmaster-Controls</h1>
    <h2 th:text="${frage.punkte}"></h2>
    <p th:text="${frage.frage}"></p>
    <p th:text="'Antwort: ' + ${frage.antwort}"></p>
    <hr />
    <p th:text="'Team: ' + ${teamName}"></p>
    <hr />
    <form action="#" th:action="@{/quizMaster/right}" method="post">
        <button type="submit">Korrekt</button>
    </form>
    <form action="#" th:action="@{/quizMaster/wrong}" method="post">
        <button type="submit">Falsch</button>
    </form>

    <form action="#" th:action="@{/quizMaster/returnToBoard}" method="post">
        <button type="submit">Zurück</button>
    </form>
</body>
</html>