<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/basicStyle.css}" />
</head>
<body>
    <h1>Nerdquiz</h1>
    <h2 th:text="${frage.frage}"></h2>
    <h3 th:text="*{frage.beantwortet} ? ${frage.antwort} : ''"></h3>
    <img th:if="${not (frage.bildFrage.isBlank() || frage.beantwortet)}" th:src="@{${frage.bildFrage}}" th:alt-title="${frage.frage}" />
    <img th:if="${not frage.bildAntwort.isBlank() && frage.beantwortet}" th:src="@{${frage.bildAntwort}}" th:alt-title="${frage.antwort}" />
</body>
</html>