<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/basicStyle.css}" />
</head>
<body>
    <h1>Nerdquiz</h1>
    <table>
        <tr th:each="kategorie : ${kategorien}">
            <th th:text="${kategorie.kategorieName}"></th>
            <td th:each="frage : ${kategorie.fragen}" th:style="*{frage.beantwortet} ? 'background-color:#000000' : 'background-color:#FFFFFF'" th:text="${frage.punkte}"></td>
        </tr>
    </table>
</body>
</html>