<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/basicStyle.css}" />
</head>
<body>
    <h1>Wähle eine Frage</h1>
    <table>
        <tr th:each="kategorie : ${kategorien}">
            <th th:text="${kategorie.kategorieName}"></th>
            <td th:each="frage : ${kategorie.fragen}">
                <form action="#" th:action="@{/quizMaster/selectFrage}" method="post">
                    <input type="hidden" name="kategorieName" th:value="${kategorie.kategorieName}" />
                    <input type="hidden" name="fragePunkte" th:value="${frage.punkte}" />
                    <button type="submit" th:style="*{frage.beantwortet} ? 'background-color:#FF0000' : 'background-color:#00FF00'" th:text="${frage.punkte}"></button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>